body {
  background-color: #444;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.profile {
  background-color: #555;
  width: 300px;
  border-radius: 5px;
  border-style: groove;
  border-color: #aaa;
}

.profile-name {
  padding: 20px 0px 5px 0px;
}

.profile-picture {
  border-radius: 20px;
  width: 200px;
}
